html {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-size: 100%;
    font-family: "Signika", "Segoe UI", Helvetica, Arial, sans-serif;
    letter-spacing: 1.5px;
    overflow-x: hidden;
}

.container {
    overflow-x: hidden;
}

textarea {
    resize: none;
}

.sss-section {
    margin: 0 0 140px;
}

.sss-section__title {
    font-size: 54px;
    line-height: 1;
    color: #222;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    margin-bottom: 90px;
}


/* Incase of client feedback replace #7ebd34 by #F44336 */

.sss-section__title--color {
    color: #7ebd34;
}

.sss-section__title--border {
    position: relative;
    margin-top: 20px;
}

.sss-section__title--border::before,
.sss-section__title--border::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.sss-section__title--border::before {
    background: #000;
    width: 8%;
    height: 1px;
    top: 0;
}

.sss-section__title--border::after {
    background: #7ebd34;
    width: 3%;
    height: 5px;
    top: -2px;
    border-radius: 6px;
}


/*****Button *****/

.btn {
    padding: 10px 16px;
    margin: 18px 0;
    background: transparent;
    font-size: 16px;
    border: 1px solid #7ebd34;
    border-radius: 6px;
    transition: all ease 500ms;
    -o-transition: all ease 500ms;
    -webkit-transition: all ease 500ms
}

.btn:hover,
.btn:active,
.btn:focus {
    border: 1px solid #e4e4e4
}

.btn.btn-brand-primary {
    color: #fff;
    background-color: #7ebd34;
    border-color: #7ebd34;
}

.btn.btn-brand-primary:hover,
.btn.btn-brand-primary:active,
.btn.btn-brand-primary:focus {
    border-color: #7ebd34;
    background-color: #fff;
    color: #7ebd34;
    outline: none
}

.btn.btn-footer-primary {
    color: #7ebd34;
    background-color: transparent;
    border-color: #7ebd34;
}

.btn.btn-footer-primary:hover,
.btn.btn-footer-primary:active,
.btn.btn-footer-primary:focus {
    border-color: #7ebd34;
    background-color: #7ebd34;
    color: #fff;
    outline: none
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    border-color: #204d74;
    background-color: #286090;
    outline: none
}

.btn-secondary {
    color: #fff;
    border-color: #fff
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
    color: #7ebd34;
    border: 1px solid #e4e4e4;
    background: #fff;
    outline: none
}

.btn-default {
    color: #333;
    border-color: #adadad;
    background-color: #e6e6e6
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
    color: #fff;
    border-color: #adadad;
    background: #adadad;
    outline: none
}

.btn-form {
    padding: 5px 10px !important;
    margin: 14px 0 !important;
    font-size: 12px !important;
    border-radius: 4px !important
}


/******** Nav ********/


/* .sss-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    max-height: 100px;
} */

.sss-nav__logo {
    position: absolute;
    top: 15px;
    left: 10%;
    z-index: 1;
}

.sss-nav__avatar {
    max-width: 140px;
    height: 100%;
}

.sss-nav__avatar img {
    height: 100%;
    width: 100%;
}

.sss-hamburger {
    background-color: #000;
    display: inline-block;
    position: fixed;
    top: 35px;
    right: 180px;
    border-radius: 4px;
    padding: 5px;
    z-index: 9;
    cursor: pointer;
    transform: none;
    height: 24px;
    width: 30px;
    -moz-transition: transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    -webkit-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
}

.sss-hamburger__item {
    height: 2px;
    width: 20px;
    margin: 0px auto 4px;
    display: block;
    background-color: #fff;
}

.sss-hamburger__item:last-child {
    margin-bottom: 0;
}

.ham_open .sss-hamburger__item {
    transform: rotate(45deg);
    margin-top: 6px;
}

.ham_open .sss-hamburger__item:nth-child(2) {
    display: none;
}

.ham_open .sss-hamburger__item:last-child {
    transform: rotate(-45deg);
    margin-top: -6px;
}

.sss-nav__menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1;
    padding-top: 100px;
    z-index: 2;
    right: -220px;
    -moz-transition: right 0.2s linear;
    -o-transition: right 0.2s linear;
    -webkit-transition: right 0.2s linear;
    transition: right 0.2s linear;
}

.open.sss-nav__menu {
    right: 0;
}

.sss-nav__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sss-nav__list--item {
    display: block;
    padding: 0;
    margin: 0;
}

.sss-nav__list--item a {
    padding: 12px 0 12px 24px;
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    display: block;
}

.sss-nav__list--item a:hover {
    text-decoration: none;
    color: #7ebd34;
}

.sss-nav__list--item a.active {
    color: #7ebd34;
}


/******** Carousel********/

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #ddd;
    border: 1px solid transparent;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #448AFF;
}

.carousel-control {
    background-image: none !important;
    width: 10%;
    opacity: .7;
}

.carousel-control:hover {
    opacity: .9;
}

.carousel-control img {
    width: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.carousel-control:hover {
    background-image: none;
}

.carousel-control .glyphicon {
    color: #448AFF;
}


/******** Hero********/

.sss-hero {
    position: relative;
    max-height: 600px;
}

.sss-hero .carousel-inner {
    height: 100%;
    max-height: 550px;
}

.sss-hero .carousel-inner .item {
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sss-hero .carousel-inner .item-first {
    background-image: linear-gradient(to bottom, rgba(29, 31, 36, 0.4), rgba(29, 31, 36, 0.4)), url('../img/ABC-trek.jpg');
}

.sss-hero .carousel-inner .item-second {
    background-image: linear-gradient(to bottom, rgba(29, 31, 36, 0.4), rgba(29, 31, 36, 0.4)), url('../img/paragliding.jpg');
}

.sss-hero .carousel-inner .item-third {
    background-image: linear-gradient(to bottom, rgba(29, 31, 36, 0.4), rgba(29, 31, 36, 0.4)), url('../img/pokhara.jpeg');
}

.hero__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}

.hero__head {
    font-size: 54px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: 700;
    margin: 0 0 30px;
}

.hero__info {
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
}


/****** Welcome Section *******/

.sss-welcome {}

.welcome__head {
    text-align: center;
}

.welcome__wrapper {
    padding-top: 30px
}

.welcome__content {
    font-size: 18px;
    line-height: 1.5;
    color: #6a6a6b;
    text-align: center;
    font-weight: 400;
    margin: 40px auto 52px;
    width: 95%;
}

.welcome__inner--avatar {
    box-shadow: 0px 0px 14px 0px rgba(203, 203, 203, 0.5);
    border-radius: 10px;
}

.welcome__inner--avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.welcome__inner--content {
    padding: 0 0 20px 40px;
    position: relative;
}

.welcome__inner--info {
    font-size: 17px;
    color: #6a6a6b;
    line-height: 1.8;
    font-weight: 400;
}

.welcome__inner--title {
    color: #222;
    font-size: 32px;
    margin: 0;
    line-height: 1.5;
    margin-bottom: 10px;
}

.welcome__inverted {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%);
    transform: rotate(-90deg);
    left: -35px;
}

.welcome__inverted--name {
    font-size: 18px;
    font-weight: bold;
    color: #7ebd34;
    line-height: 1;
    margin: 0;
    padding: 0 5px;
}

.welcome__inverted--name:before,
.welcome__inverted--name:after {
    content: "";
    height: 2px;
    width: 40px;
    background-color: #222;
    transform: translateY(50%);
    position: absolute;
    top: 50%;
}

.welcome__inverted--name:before {
    left: 100%;
    right: auto;
}

.welcome__inverted--name:after {
    right: 100%;
    left: auto;
}


/***** Video **********/

.sss-infovid {
    max-height: 450px;
    height: 450px;
    background-image: linear-gradient(to bottom, rgba(29, 31, 36, 0.4), rgba(29, 31, 36, 0.4)), url('../img/ABC-trek.jpg');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.infovid__container--title {
    color: #fff;
    font-size: 36px;
    text-align: center;
    width: 80%;
    line-height: 1.5;
    text-shadow: 6px 4px 2px rgba(10, 10, 10, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    margin: 0;
}

.infovid__container--title a {
    font-size: 18px;
    display: block;
    margin: 24px 0 0;
    color: #fff;
}

.infovid__container--title a:hover {
    text-decoration: none;
    color: #fff;
}

.sss-videoContent {
    width: 100%;
}

.sss-video__modal.modal.in .modal-dialog {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.sss-video__modal .modal-content {
    position: relative;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-radius: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sss-video__modal .sss-videoContent {
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}


/****** Services *****/

.sss-services {}

.services__inner {
    margin-bottom: 30px;
    box-shadow: 0px 0px 16px 0px rgba(203, 203, 203, 0.5);
    padding: 20px;
    border-radius: 6px;
}

.services__inner--title {
    font-size: 18px;
    line-height: 1;
    margin: 0;
    margin-bottom: 18px;
    color: #222;
}

.services__inner--content {
    font-size: 14px;
    line-height: 1.5;
    color: #6a6a6b;
    margin-bottom: 0;
}


/**********Our Crops *********/

.sss-ourCrops {
    background-image: linear-gradient(to bottom, rgba(29, 31, 36, 0.4), rgba(29, 31, 36, 0.4)), url(../img/ABC-trek.jpg);
    position: relative;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 110px;
    padding: 60px 0;
    background-attachment: fixed;
}

.ourCrops__wrapper:nth-child(2),
.ourCrops__wrapper:nth-child(4) {
    margin-top: 20px
}

.ourCrops__title {
    color: #fff;
}

.ourCrops__content {
    padding: 10px;
    position: relative;
}

.ourCrops__content img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.ourCrops__content--info {
    position: absolute;
    text-align: center;
    bottom: 0;
    background-color: #7ebd34;
    left: 10px;
    right: 10px;
    min-height: 80px;
}

.ourCrops__content--name {
    font-size: 16px;
    line-height: 1;
    color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 10px;
}


/************ Our Expertise **********/

.experts__content--item-left {
    float: left;
    width: 15%;
    text-align: center;
}

.experts__content--item-left i {
    height: 50px;
    width: 50px;
    margin: 3px;
    font-size: 20px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    background: #7ebd34;
    color: #fff;
}

.experts__content--item-right {
    float: right;
    width: 83%;
    padding-left: 15px;
}

.experts__content--title {
    font-size: 18px;
    color: #222;
    text-transform: uppercase;
    line-height: 1;
}

.experts__content--info {
    font-size: 14px;
    line-height: 1.5;
    color: #6a6a6b;
    margin-bottom: 36px;
    margin-top: 15px;
}


/************ Our Gallery **********/

.gallery__container {
    display: flex;
    flex-wrap: wrap;
}

.gallery__container--item {
    width: 25%;
    flex-grow: 1;
    flex-shrink: 1;
}

.gallery__container--item img {
    width: 100%;
    height: 100%;
}


/************ Contact Us **********/

.contact__map img {
    max-width: 100%;
}

.contact-second {
    margin-top: 60px;
}

.contact__title--main {
    font-size: 24px;
    color: #222;
    line-height: 1.1;
    margin-bottom: 40px;
    margin-top: 0;
}

.contact-second .contact__title--main {
    padding-top: 30px
}

.contact__person--name {
    font-size: 18px;
    line-height: 1.1;
    margin-bottom: 12px;
    color: #7ebd34;
    display: block;
}

.contact__person--info {
    font-size: 12px;
    line-height: 1.75;
    color: #6a6a6b;
    margin-bottom: 30px;
    display: block;
}

.contact__person--title {
    font-size: 14px;
    color: #222;
    line-height: 1.1;
    margin-bottom: 12px;
    display: block;
    font-weight: 600;
}

.contact__form {
    background-color: #222;
    padding: 50px 30px 30px 50px;
    position: relative;
}

.contact__form:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 99%;
    background-color: #222;
    width: 500%;
}

.contact__form .form-group {
    margin-bottom: 10px;
}

.contact__form .sss-btn-group {
    margin-top: 20px;
}

.contact__form .input-sm {
    width: 100%;
    max-width: 100%;
}

.sss-btn-group .btn {
    display: block;
    border-radius: 0;
    width: 100%;
}

.contact__work {}

.contact__work--item {
    margin-bottom: 30px;
}

.contact__work--item .fa {
    color: #000;
    font-size: 24px;
    float: left;
    width: 60px;
    height: 60px;
    border: 2px solid #7ebd34;
    text-align: center;
    line-height: 2.25;
}

.contact__work--content {
    padding-left: 2em;
    float: left;
    width: 75%;
}

.contact__work--label {
    font-weight: 600;
    color: #000;
    font-size: 18px;
    display: block;
    line-height: 1.2;
    margin-bottom: 10px;
    padding-top: 6px;
}

.contact__work--info {
    color: #6a6a6b;
    font-size: 15px;
    line-height: 1.2;
    text-decoration: none;
    display: block;
}


/********* Footer **********/

.sss-footer {
    margin-bottom: 0 !important;
    background-color: #448AFF;
}

#toTopHover {
    width: 64px;
    height: 64px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
#toTop{
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 1%;
    overflow: hidden;
    z-index: 999;
    width: 64px;
    height: 64px;
    border: none;
    text-indent: 100%;
    background: url(../img/arrow-up.png) no-repeat 0px 0px;
}

.footer__copyright {
    text-align: center;
    padding: 20px 0;
}

.footer__copyright--text {
    font-size: 14px;
    color: #fff;
    margin: 0;
}


/************ Media Query **********/

@media screen and (max-width: 991px) {
    .experts__content {
        margin-top: 40px;
    }
    .contact__form:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 99%;
        background-color: #222;
        width: 500%;
    }
}

@media screen and (max-width: 767px) {
    .sss-section {
        margin: 0 0 60px;
    }
    .sss-section__title {
        font-size: 40px;
        margin-bottom: 40px;
    }
    .btn {
        padding: 5px 10px;
        margin: 14px 0;
        font-size: 12px;
        border-radius: 4px
    }
    .sss-nav__logo {
        top: 20px;
        left: 5%;
    }
    .sss-nav__avatar {
        max-width: 110px;
    }
    .sss-hamburger {
        right: 50px;
    }
    .hero__head {
        font-size: 40px;
        line-height: 1.25;
        margin: 0 0 20px;
    }
    .welcome__content {
        font-size: 14px;
        margin: 20px auto
    }
    .welcome__inner--info {
        font-size: 14px;
    }
    .welcome__inner--content {
        padding-left: 25px;
    }
    .services__inner--title {
        font-size: 24px;
        margin-bottom: 14px;
    }
    .services__inner--content {
        font-size: 14px;
        margin-bottom: 24px;
    }
    .ourCrops__wrapper:nth-child(2),
    .ourCrops__wrapper:nth-child(4) {
        margin-top: 0
    }
    .ourCrops__content {
        padding: 0;
    }
    .ourCrops__content--info {
        left: 0;
        right: 0;
        min-height: 60px;
    }
    .ourCrops__content--name {
        font-size: 14px;
    }
    .contact__map {
        margin-bottom: 30px;
    }
    .infovid__container--title {
        font-size: 24px;
        width: 90%;
    }
    .infovid__container--title .fa-play-circle-o {
        font-size: 3em
    }
    .sss-video__modal .modal-dialog {
        width: 300px;
        max-width: 300px;
        margin: auto;
    }
}